In [1]:
import json

In [3]:
json_txt = '{"name": "Adam", "age": 30, "skills": ["Python", "ML"]}'
data = json.loads(json_txt)
data

{'name': 'Adam', 'age': 30, 'skills': ['Python', 'ML']}

In [5]:
data.get('salary', 1000)
# data

1000

In [7]:
data['salary'] = 1000
data

{'name': 'Adam', 'age': 30, 'skills': ['Python', 'ML'], 'salary': 1000}

In [8]:
data['skills'] += ['SQL']
data

{'name': 'Adam', 'age': 30, 'skills': ['Python', 'ML', 'SQL'], 'salary': 1000}

In [14]:
back_data = json.dumps(data, indent=2)
print(back_data)

{
  "name": "Adam",
  "age": 30,
  "skills": [
    "Python",
    "ML",
    "SQL"
  ],
  "salary": 1000
}

In [15]:
type(back_data)

str

In [17]:
nd = json.loads(back_data)
nd

{'name': 'Adam', 'age': 30, 'skills': ['Python', 'ML', 'SQL'], 'salary': 1000}

In [18]:
with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(nd, f, indent=2)

In [19]:
with open('data.json', 'r', encoding='utf-8') as f:
    json_txt = f.read()

print(json_txt)

{
  "name": "Adam",
  "age": 30,
  "skills": [
    "Python",
    "ML",
    "SQL"
  ],
  "salary": 1000
}

In [20]:
with open('data.json', 'r', encoding='utf-8') as f:
    data_dict = json.load(f)

data_dict

{'name': 'Adam', 'age': 30, 'skills': ['Python', 'ML', 'SQL'], 'salary': 1000}

In [10]:
def simple_range(start: int, stop: int | None=None, step: int=1) ->list[int]:
    if step in (None, 0):
        raise ZeroDivisionError('Step must be not zero.')

    if stop is None:
        stop = start
        start = 0

    r_list: list[int] = []
    current: int = start

    while len(r_list) < (stop - start) / step:
        r_list.append(current)
        current += step

    return r_list

In [15]:
simple_range(20, 10, -2)

[20, 18, 16, 14, 12]

In [16]:
type(None)

NoneType

In [1]:
data = [
    {
        "name": "pawel",
        "age": 40,
        "city": "krakow",
        "hobbies": ["python", "js", "drugs"]
    },
    {
        'name': 'pete',
        'age': 50,
        'city': 'warsaw',
        'hobbies': ['python', 'snorkeling', 'films']
    },
    {
        'name': 'katarzyna',
        'age': 32,
        'city': 'krakow',
        'hobbies': ['ksiazki', 'plywanie', 'seriale']
    },
    {
        "name": "agata",
        "age": 28,
        "city": "lipnicawielka",
        "hobbies": ["hiking", "crocheting", "reading"]
    },
    {
        "name": "przemek",
        "age": 40,
        "city": "krakow",
        "hobbies": ["książki", "place zabaw", "muzyka"]
    },
    {'name': 'Amos', 'age': 45, 'city': 'Olkusz', 'hobby': ['cycling', 'football', 'chess']},
    {
        "name": "andrzej",
        "age": 29,
        "city": "katowice",
        "hobbies": ["3dprinting", "history", "skiing"]
    }
]

In [6]:
def get_avg_age(dataset):
    # result = 0
    #
    # for item in dataset:
    #     result += item['age']
    #
    # return round(result / len(dataset))

    # return round(sum(x['age'] for x in dataset) / len(dataset))

    return round(sum(map(lambda x: x['age'], dataset)) / len(dataset))

get_avg_age(data)

38

In [10]:
def get_avg_age_from_krk(dataset):
    # res = 0
    # counter = 0
    #
    # for i in dataset:
    #     if i['city'] == 'krakow':
    #         res += i['age']
    #         counter += 1
    #
    # return round(res / counter)
    items = [item['age'] for item in dataset if item['city'] == 'krakow']
    return round(sum(items) / len(items))

get_avg_age_from_krk(data)

37