In [48]:
import os
from datetime import date, datetime, time

In [4]:
import pandas as pd
import numpy as np

In [5]:
today = date.today()
print(f'today is {today}')

today is 2025-03-14

In [8]:
day_1 = today.day
month_1 = today.month
year_1 = today.year
list[day_1, month_1, year_1]

list[14, 3, 2025]

In [16]:
c = today.strftime('%A, %dth of %B %Y')
c

'Friday, 14th of March 2025'

In [18]:
next_year = today.replace(year = today.year + 1)
next_year

datetime.date(2026, 3, 14)

In [20]:
difference = abs(next_year - today)
print(f'only {difference.days} days until next year')

only 365 days until next year

In [23]:
my_date = date(1973, 7, 10)
print(f'my date of birth is {my_date}')

my date of birth is 1973-07-10

In [30]:
my_date = date.fromisoformat('1973-07-10')
print(f'my date of birth is {my_date}')
print(f'it was {my_date.weekday() } day of week')

my date of birth is 1973-07-10
it was 1 day of week

In [42]:
now_1 = datetime.now()
print(f'today is {now_1}')

today is 2025-03-14 17:18:53.388839

In [44]:
min_1 = now_1.minute
print(f'min is {min_1}')

min is 18

In [46]:
chernobyl = datetime.fromisoformat('1986-04-26 01:23:40+04:00')
print(f'the nuclear disaster in chernobyl was in {chernobyl}')

the nuclear disaster in chernobyl was in 1986-04-26 01:23:40+04:00

In [47]:
f = chernobyl.strftime('the nuclear disaster in chernobyl was in %A %B %dth, %Y at %X MSD(%Z)')
f

'the nuclear disaster in chernobyl was in Saturday April 26th, 1986 at 01:23:40 MSD(UTC+04:00)'

In [50]:
my_time = time(15, 34, 8)
print(f'{my_time}')

15:34:08

In [51]:
my_time = time.fromisoformat('15:34:08-07:00')
print(f'{my_time}')

15:34:08-07:00

In [52]:
my_time = time.fromisoformat('15:34:08-07:00')
print(f'{my_time.strftime("%I:%M %p")}')

03:34 PM

In [56]:
my_time = time.fromisoformat('15:34:08-07:00')
print(f'{my_time.strftime("%I:%M %M")}')

03:34 34

In [59]:
date_plus_time = datetime.combine(my_date, my_time)
my_bday = f'{date_plus_time}'
my_bday

'1973-07-10 15:34:08-07:00'